## {{ ansible_managed }}
[[outputs.amqp]]
  brokers = ["amqp://rabbitmq-1.home.whonodes.org:5672/telegraf", "amqp://rabbitmq-2.home.whonodes.org:5672/telegraf", "amqp://rabbitmq-3.home.whonodes.org:5672/telegraf"]
  exchange = "telegraf"
  exchange_type = "topic"
  username = "telegraf"
  password = "telegraf"
  use_batch_format = true
  data_format = "influx"
