## {{ ansible_managed }}
## Influx Output Plugin
[[outputs.influxdb]]
  urls = ["http://influx.home.whonodes.org:8086"] # required
  database = "telegraf"
  retention_policy = ""
  write_consistency = "any"
  timeout = "5s"
