## {{ ansible_managed }}
#
## Telegraf Configuration

[global_tags]
  # dc = "us-east-1"
  # rack = "1a"
  # user = "$USER"

[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter= "0s"
  debug = false
  quiet = false
  logfile = "/var/log/telegraf/telegraf.log"

  hostname = "{{ telegraf_nodename }}"
  omit_hostname = false
