{
   "client": {
     "name": "{{ inventory_hostname }}",
     "address": "{{ ansible_default_ipv4.address }}",
     "environment": "production",
     "subscriptions": [
       "dev",
       "ubuntu-hosts"
     ],
     "socket": {
       "bind": "{{ ansible_default_ipv4.address }}",
       "port": 3030
     }
   }
}
